@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    background-image: linear-gradient(to right, #00148F , #0A528F);
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 20px;
    min-height: 100%;
}
/* --------------- Címsor --------------- */
h2 a:link, h2 a:visited, h2 a:active{
    text-decoration: none;
    color: white
}
h2 a:hover{
    text-decoration: underline;
    color: #e12c27;
}
h1{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 50px;
}
h2{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 30px;
}
h3{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 25px;
}
/* --------------- Táblázat --------------- */
table.priceOffer, table.templateCreater, table.sumTable{
    color: black; 
    border-collapse: collapse;
    margin: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comfortaa', cursive;
}
table.priceOffer th, table.templateCreater th{
    color: white;
    font-family: 'Comfortaa', cursive;
}
table.selectedTable, table.sumTable{
    color: black; 
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
    text-align: center;
    box-shadow: 0px 10px 30px black;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comfortaa', cursive;
}
table.selectedTable th, table.sumTable th{
    border-bottom: 1px solid #364043;
    color: black;
    font-size: 19px;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
td {
    font-family: 'Comfortaa', cursive;
    color: black;
    padding: 0.65em 1em;
}
tr.hoveredTr:hover {
    background: rgba(255, 255, 255, 0.9);
}
.white{
    color: white;
}
/* --------------- Bemeneti mezők --------------- */
input.numberField{
    background: 0;
    border: 0;
    border-bottom: 2px solid #e12c27;
    outline: none;
    width: 150px;
    max-width: 400px;
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    transition: padding 0.3s 0.2s ease;
}
input.txtFieldLong{
    background: 0;
    border: 0;
    border-bottom: 2px solid #e12c27;
    outline: none;
    width: 300px;
    max-width: 400px;
    color: white;
    font-size: 20px;
    transition: padding 0.3s 0.2s ease;
    font-family: 'Comfortaa', cursive;
}
input.txtFieldShort{
    background: 0;
    border: 0;
    border-bottom: 2px solid #e12c27;
    outline: none;
    width: 150px;
    max-width: 400px;
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    transition: padding 0.3s 0.2s ease;
}
select.txtField{
    border: 0;
    border-bottom: 2px solid #e12c27;
    width: 200px;
    max-width: 400px;
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    background: transparent; 
}
select option {
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
    color: rgba(188, 188, 188, 0.495);
    font-family: 'Comfortaa', cursive;
}
input:focus{
    padding-bottom: 5px;
}
.finder_middle{
    text-align: center;
    margin-left: 25%;
    font-family: 'Comfortaa', cursive;
    vertical-align: middle;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.finder{
    margin-left: 11%;
    font-family: 'Comfortaa', cursive;
    vertical-align: middle;
    margin-bottom: 50px;
}
.thick{
    font-weight: 600;
}
.templates{
    margin-left: 70%;
    font-family: 'Comfortaa', cursive;
    vertical-align: middle;
    margin-top: -95px;
}
/* --------------- Menu --------------- */
img.revicarLogo{
    width: 300px;
    height: 66px;
    vertical-align: middle;
    margin-bottom: -15px;
    margin-top: 10px;
    position: absolute;
    margin-left: 80%;
}
div.menu li.horizontalLine{
    color: #e12c27;
    font-weight: 700;
    vertical-align: top;
    padding-top: 15px;
    font-size: 35px;
}
div.menu ul{
    list-style-type: none;
    margin-top: -8px;
    margin-left: -5px;
    margin-right: -5px;
    vertical-align: middle;
    height: 86px;
    background: white;
    font-family: 'Comfortaa', cursive;
}
div.menu li{
    display: inline-block;
}
div.menu li a{
    color: #00148F;
    text-align: center;
    text-decoration: none;
    float: left;
}
div.menu li a:hover {
    text-decoration: underline;
    text-decoration-color: #e12c27;
}
.label, .label_print{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    font-size: 20px;
}
/* --------------- Lenyíló menü --------------- */
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    border-radius: 0.5em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00148F;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
}
/* --------------- Gombok --------------- */
button{
    background-color: transparent;
    border: none;
}
button img:hover{
    scale: 115%;
}
img.delete{         /*  Törlés gomb */
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
img.edit{         /*  Módosítás gomb */
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
img.save{         /*  Mentés gomb */
    height: 35px;
    width: 35px;
    vertical-align: middle;
}
img.cancel{           /*  Vissza gomb */
    vertical-align: middle;
    height: 35px;
    width: 35px;
}
img.back{           /*  Vissza gomb */
    vertical-align: middle;
    height: 40px;
    width: 40px;
}

img.add{             /*  Hozzáadás gomb */
    height: 45px;
    width: 45px;
    vertical-align: middle;
    color: white;
}
img.search{           /*  Keresés gomb */
    vertical-align: middle;
    height: 45px;
    width: 45px;
}
img.calculate{       /*  Számolás gomb */
    vertical-align: middle;
    height: 45px;
    width: 45px;
}
/* --------------- Szerkesztő --------------- */
.editField{
    color: black; 
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
    margin: 1em;
    margin-top: 100px;
    padding: 50px;
    width: 420px;
    box-shadow: 0px 10px 30px black;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    zoom: 170%;
}
input.numberFieldBlack{
    background: 0;
    border: 0;
    border-bottom: 2px solid #e12c27;
    outline: none;
    width: 150px;
    max-width: 400px;
    color: black;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    transition: padding 0.3s 0.2s ease;
}
input.txtFieldLongBlack{
    background: 0;
    border: 0;
    border-bottom: 2px solid #e12c27;
    outline: none;
    width: 300px;
    max-width: 400px;
    color: black;
    font-size: 20px;
    transition: padding 0.3s 0.2s ease;
    font-family: 'Comfortaa', cursive;
}
input.txtFieldShortBlack{
    background: 0;
    border: 0;
    border-bottom: 2px solid #e12c27;
    outline: none;
    width: 150px;
    max-width: 400px;
    color: black;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    transition: padding 0.3s 0.2s ease;
}
.red{
    color: #e12c27;
    font-weight: 600;
}
.save_button{
    margin-left: 60%;
    margin-top: 20px;
}
.cancel_button{
    position: absolute;
    margin-top: 11%;
    margin-left: 10%;
}
.cancel_button_storage{
    position: absolute;
    margin-top: 16%;
    margin-left: 10%;
}
.back_button:hover, .cancel_button:hover, .cancel_button_storage:hover{
    scale: 115%;
}
.back_button{
    position: absolute;
    margin-left: 32%;
}
/* --------------- Egyéb ID --------------- */
.newItem{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
}
.watermark, .plate_number, .print_label2, .page_code{
    display: none;
}